.archive-page {
  margin: 50px 0;
  margin-left: 25%;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
    background-color: #0bf;
  }
  .archive-info {
    margin-left: 20px;
    position: relative;
    top: -10px;
    &::before {
      content: '';
      position: absolute;
      left: -18px;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: #0bf;
      border: 4px solid #fff;
      box-shadow: 1px 1px 1px #bbb;
    }
  }

  .year-text {
    display: inline-block;
    font-weight: bold;
    font-size: 44px;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .month-text {
    position: relative;
    margin-bottom: 30px;
    &::before {
      content: '';
      position: absolute;
      left: 2px;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: #0bf;
      border: 4px solid #fff;
      box-shadow: 1px 1px 1px #bbb;
    }
    .text {
      display: block;
      margin-left: -25%;
      font-weight: bold;
      font-size: 24px;
    }
  }
  .item-list {
    position: relative;
    margin-bottom: 20px;
    margin-right: 20px;
    border-bottom: dashed 1px #eee;
    // padding-left: 30px;
    &::before {
      content: '';
      position: absolute;
      left: 2px;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #0bf;
      border: 4px solid #fff;
      box-shadow: 1px 1px 1px #bbb;
    }
    .time {
      font-size: 24px;
      color: #0bf;
      padding: 0 10px 0 20px;
    }
    .title {
      font-size: 28px;
    }
  }
}
