.index {
  flex-direction: column;
  width: 100%;
  .noticebar-info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
  }
  .swiper-container {
    height: 100vh;
    position: relative;
    .swiper-content {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      perspective: 1500;
    }
    .swiper-item {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #eee;
      transition: all 1s;
      backface-visibility: hidden;
      // background: #eee url('https://camo.githubusercontent.com/3e1b76e514b895760055987f164ce6c95935a3aa/687474703a2f2f73746f726167652e333630627579696d672e636f6d2f6d74642f686f6d652f6c6f676f2d3278313531333833373932363730372e706e67') center no-repeat;
      // background-size: cover;
      .swiper-item-image {
        display: block;
        height: 100%;
        width: 100%;
      }
    }
    .back {
      transform: rotateY(-180deg);
      // opacity: 0;
    }
    .positive {
      transform: rotateY(0deg);
    }
    .flip-btn {
      position: absolute;
      top: 10%;
      right: 10%;
    }
  }
  .atfab-btn {
    position: fixed;
    z-index: 99;
    right: 10%;
    bottom: 10%;
  }
}
